.mood-icon .small {
    transform: scale(0.15);
}

.mood-icon .wave {
    transform: translateZ(0);
    fill-opacity: 0;
    will-change: transform, opacity;
}

.mood-icon .wave1:not(.animate) {
    transform: scale(2);
    fill-opacity: 0.2;
    stroke-opacity: 0.5;
}

.mood-icon .wave2:not(.animate) {
    transform: scale(1.6);
    fill-opacity: 0.2;
}

.mood-icon .wave3:not(.animate) {
    transform: scale(1.1);
    fill-opacity: 0.3;
}

.mood-icon .wave2.animate {
    animation-delay: 1s;
}

.mood-icon .wave3.animate {
    animation-delay: 2s;
}

.mood-icon .wave.animate {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-name: wave;
}

@keyframes wave {
    0% {
        transform: scale(1);
        fill-opacity: 0.25;
    }
    50% {
        transform: scale(1.75);
        fill-opacity: 0.1;
        stroke-opacity: 1;
    }
    100% {
        transform: scale(2);
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
